@using FastEvents.dbo
@model CreateOrEditViewModel

@{
    ViewData["Title"] = "Event";
    var title = Model.IsCreate ? "Create your own event !" : "Edit your event !";
}

<div>
    
    <h1 class="mb-4 text-center">@title</h1>

    @using (Html.BeginForm("SaveEvent", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        @Html.AntiForgeryToken()
        
        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Name of the event</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.EventUi.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "My Event", required = true } })
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Name of the organiser</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.EventUi.Organizer, new { htmlAttributes = new { @class = "form-control", placeholder = "My Organisation", required = true } })
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Start date of the event</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.EventUi.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the starting date of the event", type = "datetime-local", required = true } })
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">End date of the event</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.EventUi.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the ending date of the event", type = "datetime-local", required = true } })
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Category</label>
            <div class="col-sm-5">
                @Html.DropDownListFor(
                    m => m.EventUi.Category,
                    new SelectList(Enum.GetValues<Category>()),
                    new {@class = "form-control"}
                    )
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Number of places</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.EventUi.Capacity, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the number of places for the event", type = "number" } })
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Location of the event</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.EventUi.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "1 Anyroad RD, Anytown AZ 01234", type = "text", required = true  } })
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Description of the event</label>
            <div class="col-sm-5">
                @Html.TextAreaFor(m => m.EventUi.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description of the event", rows = "6", cols = "50", maxlength = "500" } })
                <small id="descriptionHelp" class="form-text text-muted">Maximum of 500 characters</small>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label font-weight-bold">Image</label>
            <div class="col-sm-5">
                @Html.EditorFor(m => m.PictureFile, new { htmlAttributes = new { type = "file" } })
            </div>
        </div>

        <div class="text-center">
            <input class="btn btn-primary btn-lg form-group" value="Save event" type="submit"/>
        </div>
        
        @Html.HiddenFor(m => m.IsCreate)
        @Html.HiddenFor(m => m.EventUi.Id)
        @Html.HiddenFor(m => m.EventUi.PictureFilename)
    }

</div>

