@using System.Globalization
@model DetailViewModel

@{
    var places = Model.Event.capacity - Model.Event.nbAvailableTickets + "/" + Model.Event.capacity;
}

<div>
    <div class="row">
        
        <div class="col pt-4">
            <img src="@Model.ImagePath" alt="Event Image" width="600px"/>
        </div>

        <div class="col">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td colspan="2" class="h2">@Html.DisplayFor(model => model.Event.name)</td>
                    </tr>
                    <tr>
                        <td colspan="2">by @Html.DisplayFor(model => model.Event.organizer)</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>@Html.DisplayFor(model => model.Event.category)</td>
                    </tr>
                    <tr>
                        <th>Places</th>
                        <td>
                            @places
                        </td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>
                            <a href="@Model.GoogleMapLink" target="_blank">
                                @Html.DisplayFor(model => model.Event.location)
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td>@Html.DisplayFor(model => model.Event.startDate)</td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                        <td>@Html.DisplayFor(model => model.Event.endDate)</td>
                    </tr>
                    @if (Model.IsOwner)
                    {
                        <tr>
                            <th>Event Id</th>
                            <td>@Html.DisplayFor(model => model.Event.id)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card m-4">
        <div class="card-body">
            <h5 class="card-title">
                Description
            </h5>
            <p class="card-text">
                @Html.DisplayFor(model => model.Event.description)
            </p>
        </div>
    </div>
    
    @if (Model.IsOwner)
    {
        <form method="post" class="text-right">
            <button class="btn btn-light btn-md m-2" asp-action="CreateOrEdit" asp-route-eventId="@Model.Event.id">
                Edit Event
            </button>
            <button type="button" class="btn btn-danger btn-md m-2" data-toggle="modal" data-target="#cancelEventModal">
                Cancel Event
            </button>
        </form>
            
        <div class="modal fade" id="cancelEventModal" tabindex="-1" role="dialog" aria-labelledby="cancelEventModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelEventModalLabel">Cancel Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel this event ?
                        This will remove the event and nobody will be able to see it anymore.
                    </div>
                    <form method="post" class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            No
                        </button>
                        <button class="btn btn-primary" asp-controller="Home" asp-action="Index">
                            Yes, cancel the event
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
    
    <form class="text-center mt-2" method="post">
        <button class="btn btn-primary btn-lg" asp-controller="Home" asp-action="GenerateAndDownloadQrCode">
            Order and Download my ticket
        </button>
    </form>

</div>