@using FastEvents.dbo
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center" style="position: relative">
        <div class="dropdown m-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtre
            </button>
            <form class="dropdown-menu" aria-labelledby="dropdownMenuButton" method="post">
                <button class="dropdown-item" asp-action="Index">All</button>
                <button class="dropdown-item" asp-action="Index" asp-route-sortCategory="@Category.Concert">Concert</button>
                <button class="dropdown-item" asp-action="Index" asp-route-sortCategory="@Category.Conference">Conference</button>
                <button class="dropdown-item" asp-action="Index" asp-route-sortCategory="@Category.OpenAir">Open Air</button>
            </form>
        </div>

        <div class="dropdown m-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
            </button>
            <form class="dropdown-menu" aria-labelledby="dropdownMenuButton" method="post">
                <button class="dropdown-item" asp-action="Index" asp-route-sortType="Name">Name</button>
                <button class="dropdown-item" asp-action="Index" asp-route-sortType="Organizer">Organizer</button>
                <button class="dropdown-item" asp-action="Index" asp-route-sortType="Date">Date</button>
            </form>
        </div>

        <form class="form-check m-2" method="post">
            @*// Trouver comment faire un "oncheck" sur la checkbox pour appeler l'action Index*@
            <input class="form-check-input" type="checkbox" value="" asp-action="Index" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Owned events
            </label>
        </form>

        <form class="form-inline my-2 my-lg-0" method="post" asp-controller="Home" asp-action="Index">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchPattern" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> 

            <form method="post" class="m-4">
                <button class="btn btn-outline-success mr-2 my-2 my-sm-0" asp-action="Tickets">My tickets</button>

                <button class="btn btn-outline-success ml-2 my-2 my-sm-0" asp-action="CreateOrEdit">Create an event</button>
            </form>
    </nav>

    @if (Model.EventUis.Count == 0)
    {
        <div class="card">
            <div class="card-header">
                There is no events for the specified filters.
            </div>
            <div class="card-body text-center">
                Change the filters to see other events.
            </div>
        </div>    
    }
    
    @foreach (var ev in Model.EventUis)
    {
        <form method="post" class="m-4 d-flex text-center">
            <button class="btn btn-light flex-grow-1" asp-action="Detail" asp-route-eventId="@ev.Id">
                <div class="mt-2 container" style="display: flex; flex-direction: row; position: relative">
                    <div class="p-2" style="position: relative">
                        @if (ev.Capacity - ev.NumberTickets == 0)
                        {
                            var urlPath = @"..\Resources\Images\" + ev.PictureFilename;
                            <img src=@urlPath style="filter: grayscale()" alt="Event Image" width="400px" />
                            <span style="color: red; font-size: 4rem; font-weight: bold; position: absolute; left: 32%; top: 25%">FULL</span>
                        }
                        else
                        {
                            var urlPath = @"..\Resources\Images\" + ev.PictureFilename;
                            <img src=@urlPath alt="Event Image" width="400px" />
                        }
                    </div>

                    <div class="ml-5 col">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="h2">@ev.Name</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="pt-0 h4 text-left" style="font-weight: normal">by @ev.Organizer</td>
                                </tr>
                                <tr>
                                    <th class="pt-0 h4 text-left">Start date</th>
                                    <td class="pt-0 h4 text-left" style="font-weight: normal">@ev.StartDate</td>
                                </tr>
                                <tr>
                                    <th class="pt-0 h4 text-left">Places</th>
                                    @{ var places = ev.Capacity - ev.NumberTickets; }
                                    <td class="pt-0 h4 text-left" style="font-weight: normal">@places</td>
                                </tr>
                                <tr>
                                    <th class="pt-0 h4 text-left">Category</th>
                                    <td class="pt-0 h4 text-left" style="font-weight: normal">@ev.Category</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </button>
            
        </form>
     }
</div>